{% extends 'recsystem/default.html' %}
{% block title %}Add Advice{% endblock %}
{% block body %}
<!-- template for adding advices -->
    <div class="container">
          <div class="col-sm-12 col-md-7">
              <div class="panel panel-default">
                  <div class="panel-body jumbotron">
                      <h3>Add an Advice</h3>
                      {% if error_message %}
                          <p><strong>{{ error_message }}</strong></p>
                      {% endif %}
                      <form class="form-horizontal" role="form" action="" method="post" >
                          {% csrf_token %}
                          {% include 'recsystem/form_template.html' %}
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
    </div>

{% endblock %}
