{% extends 'recsystem/default.html' %}
{% block body %}
<!-- template for displaying all the advices stored in the database -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th>ID</th>
            <th>Advice Label</th>
            <th>Advice Text</th>
            <th>Delete</th>
          </tr>

          {% for advice in advices %}
            <tr>
              <td>{{ advice.id }}</td>
              <td><a href="{% url 'recsystem:editAdvice' advice.id %}">{{ advice.advice_label }}</a></td>
              <td>{{ advice.advice_text }}</td>
              <td><a href="#" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this item?');">
                  <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
              </a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>
{% endblock %}
