.navbar-brand > img {
  width: 100px;
  height: 50px;
  margin-left: -14px;
  margin-top: -15px
}
.deleteButton{
  float: right;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  margin-right: 12%;
}
.goBack{
  float: right;
  margin-top: 10px;
}
.questionsTable{
  margin-top: 20px;
}
.navbar-custom{
  background-color: #1565C0;
  color: #F5F5F5;
}

.table{
  margin-left: 120px;
  max-width: 1000px;
}
.radioClassInput{
  display: inline-block !important;
}
.serviceBtn{
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  color: #337ab7;
  margin: 15px;
}
.lastdiv{
  bottom: 0;
  position: absolute;
}
.quesDetails{
  margin-top: 20px;
  margin-left: 10px;
}
.quesDetails > input {
  max-width: 40%
}
.quesDetails > textarea {
  max-width: 50%
}
.addquestion > h4{
  margin-left: 10px;
  margin-top: 20px;
}
.addquestion > p{
  margin-left: 20px;

}
.func-btn{
  display: inline-block;
float: left;
margin-bottom: 20px;
}
.nextBtn{
  min-width: 164px;
margin-left: 20px;
}
.slider-input-class{
  max-width: 20%;
}
.sliderOptionsClass{
  margin-left: 10px;
  margin-top: 20px;
}
.addanswer{
  margin-top: 20px;
}
.addanswer > h3{
  margin-top: 20px;
}
.answerDivClass{
  margin-top: 20px;


}
.myAnswerTable{
  float: left;
  max-width: 90%;
  margin-right: 20%;
  margin-left: 0;
}
.submitBtnClass{
  float: left;
  margin-left: 5px;
}
.real-time-advice-div{
position:fixed;
right: 0;

}
.left-column{
  position: relative;
}
.relation-div > h4{
  margin-top: 20px;
}
.relation-div > select{
  max-width: 50%;
}
.relation-div > button{
  margin-top: 20px;
}
